

.header img {
    float: left;
    width:250px;
    height: 250px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px 5px 5px 5px goldenrod;
}
.logo{
    border: 2px solid black;
    box-shadow: red;
}
body {
    background-color: green;
}

h1{
    text-align: left;
    font-size: 40px;
    font-family: Algerian;
}
.navbar a {
    padding-left: 50px;
    margin: auto;
    font-size: 30px;
}

#icons img {
    float: right;
    width: 50px;
    padding-right: 20px;
}
#chamber img {
    margin-bottom: 100px;
    width: 100%;
    height: 550px;
    border: 3px solid skyblue;
    box-shadow: 6px 5px 5px 6px red;
    border-radius: 50px 30px 50px 30px;
}
footer{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}


#chamber .join{

    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-1%, 210%);
   -ms-transform: translate(-50%, -50%);
   background-color:red;
   color: black;
   font-size: 16px;
   padding: 20px 24px;
   border: 2px solid yellow;
   cursor: pointer;
   border-radius: 15px 13px 15px 13px;
   text-align: left;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#chamber .join:hover {
  background-color:red;
}

.tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-family: Algeria;
    font-size: 40px;
    background-color: coral;
    border: black;
    border-radius: 15px 13px 15px 13px;
}

* {
    box-sizing: border-box;
  }
  

form.search input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid red;
  float: right;
  width: 50%;
  background: #f1f1f1;
  border-radius: 15px 13px 15px 13px;
  margin-top: 20px;
}



form.search button {
    float: right;
    width: 10%;
    padding: 10px;
    background: red;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: 2px solid red;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30%;

  }

form.search .button:hover{
    background-color: red;
}

h2, h3, h4{
    font-family: Algerian;
    font-size: 20px;
}
p ul{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
  
#weather img{
    width: 100%;
    border: blue;
    border-radius: 15px 23px 15px 13px;

}
#weather .sunny {
    float: right;
    width: 10%;
    padding: 20px;
    background: red;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: 2px solid red;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 30%;
}

#weather .sunny:hover{
    background-color: blue;
}

.transport img {
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px 13px 15px 13px;
    margin-left: 40px;
}

.market img {
    width: 90%;
    border: 1px solid black;
    border-radius: 15px 13px 15px 13px;
    margin-right: 50px;
    height: 400px;

}

h4{
    text-align: center;

}

.market .goods {
    padding: 20px;
   font-size: 17px;
   cursor: pointer;
   border-radius: 15px 13px 15px 13px;
   text-align: left;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.market .goods:hover{
    background-color: blue;

}

.joins h5, p{
    text-align: center;
    background-color: burlywood;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 15px 13px 15px 13px; 
    box-shadow: black;
}


